@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --darker: rgb(55, 55, 55);
    --lighter: rgb(240, 240, 240);
    --semi-light: rgb(225, 225, 225);
}



body {
    display: flex;
    height: 100vh;
    margin: 0;
    color: var(--darker)
}

/* delete this */
div {
    background: var(--semi-light);
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:5;
}

.headerRight, .headerLeft {
    margin-left: 1.5rem;
}

.containerLeft {
    display: flex;
    flex: 3;
    flex-direction: column;
    background: url(./img/background.jpg);
    background-size: cover;
}

.logoDiv {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    position: relative;
    height: 15vh;
    background: rgb(55, 55, 55, 0.65);
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.logo {
    max-width: inehrit;
    height: inherit;
}

.lets {
    margin-left: 1rem;
    font-weight: bold;
}

.formDiv {
    background-color: var(--lighter);
    height: 45vh;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    overflow: scroll;

}

.headerRightP {
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset {
    display: flex;
    border: none;
    margin:0;
}

.formCell {
    display:flex;
    flex-direction: column;
    padding: .2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--darker);
    font-size: .6rem;
    background: var(--lighter);
}

.footer {
    padding: 2rem;
}
.createAcc {
    all:unset;
    color: var(--semi-light);
    cursor: pointer;
    background: rgb(92, 136, 10);
    padding: .5rem;
}

a {
    color: rgb(92, 136, 10);
    text-decoration:underline;
}
